{% extends "karatasi/base.html"%}
{% block content %}
    {% for post in posts %}
      <article class="media content-section">
          <a href=" {% url 'post-detail' post.id %} ">
            <img class = 'rounded-square article-img'src="{{ post.name.profile.image.url }}" alt="">
            <div class="media-body" href=" {% url 'post-detail' post.id %} " >
              <div class="article-metadata">
                <a class="mr-2" >{{ post.name}} </a>
                <small class="text-muted">{{post.date_posted|date:" F d, Y"}}</small>
              </div>
              <h2><a class="article-title" href=" {% url 'post-detail' post.id %}" >{{post.position}}</a></h2>
              <p class="article-content">{{post.comment}}</p>
            </div>
          </a>

      </article>

    {% endfor %}
{% endblock content%}
